body {
  background-image: url("./images/PonyvilleBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}

/* LoginArea Components */

.loginArea {
  background-color: #e6e6fa99;
  border: solid 5px violet;
  text-align: center;
  position: fixed;
  left: 33%;
  top: 33%;
}

.loginButton {
  background-color: pink;
  border: solid 2px violet;
  margin: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 50%;
}

/* Billboard Component */

.billboardText {
  padding: 5px;
  width: calc( 100% - 10px );
}

/* Scoreboard Component */

.scoreboard {
  background-color: #ffc0cb99;
  border: solid 5px lavender;
  width: calc( 100% - 30px );
  min-height: 81px;
  padding: 5px 10px;
  float: left;
  clear: left;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.heading {
  float: left;
  width: calc( 75% - 10px );
  padding: 5px;
}

.data {
  float: left;
  width: calc( 25% - 10px );
  padding: 5px;
  text-align: right;
}

/* GameArea Components */

.gameArea {
  width: calc( 100% - 30px );
  padding: 5px 10px;
}

.imgContainer {
  width: calc( 50% - 36px );
  margin: 15px;
  float: left;
}

.cutieMark {
  border-radius: 25%;
  border: solid 3px magenta;
  width: 100%;
}

/* PonyArea Components */

.ponyArea {
  width: calc ( 100% - 30px );
  padding: 5px 10px;
  float: right;
}

.ponyArea {
  width: calc ( 100% - 30px );
  padding: 5px 10px;
  float: right;
}

.ponyContainer {
  width: calc( 50% - 36px );
  margin: 15px;
  float: left;
}

.hidden {
  filter: grayscale( 100% );
  opacity: 0.1;
}

.found {
  filter: grayscale( 0% );
  opacity: 1;
} 

.selectable {
  border-radius: 10%;
}

.myLittlePony {
  border-radius: 10%;
  border: solid 3px gold;
  width: 100%;
}

/* Media Queries */

@media screen and ( min-width: 576px ) {
  .scoreboard {
    width: calc( 33% - 30px );
  }
  .gameArea {
    width: calc( 33% - 30px );
  }
  .imgContainer {
    width: calc( 50% - 16px );
    margin: 5px;
  }
  .loginArea {
    width: calc( 33% - 30px );
  }
  .ponyArea {
    position: fixed;
    right: 0;
    width: calc( 67% - 30px );
    height: 100vh;
    overflow: auto;
  }
  .ponyContainer {
    width: calc( 33% - 36px );
  }  
}

@media screen and ( min-width: 768px ) {
  .imgContainer {
    width: calc( 50% - 36px );
    margin: 15px;
  }
  .ponyContainer {
    width: calc( 25% - 36px );
  }
}

@media screen and ( min-width: 992px ) {
  .scoreboard {
    width: calc( 25% - 36px );
  }
  .gameArea {
    width: calc( 25% - 36px );
  }
  .ponyArea {
    width: calc( 75% - 36px );
  }
}

@media screen and ( min-width: 1200px ) {
  .scoreboard {
    width: calc( 20% - 36px );
  }
  .gameArea {
    width: calc( 20% - 36px );
  }
  .ponyArea {
    width: calc( 80% - 36px );
  }
  .ponyContainer {
    width: calc( 16% - 36px );
  }
}