body {
  background-image: url("./images/PonyvilleBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Scoreboard Component */

.scoreboard {
  background-color: #ffc0cb99;
  border: solid 5px lavender;
  width: calc( 100% - 30px );
  padding: 5px 10px;
  float: left;
  font-size: 1.5em;
}

.heading {
  float: left;
  width: calc( 75% - 10px );
  padding: 5px;
}

.data {
  float: left;
  width: calc( 25% - 10px );
  padding: 5px;
  text-align: right;
}

/* GameArea Components */

.gameArea {
  width: calc( 100% - 30px );
  padding: 5px 10px;
}

.imgContainer {
  width: calc( 50% - 36px );
  margin: 15px;
  float: left;
}

.cutieMark {
  border-radius: 25%;
  border: solid 3px magenta;
  width: 100%;
}

/* Media Queries */

@media screen and (min-width: 576px) {
  .scoreboard {
    width: calc( 33% - 30px );
  }
  .gameArea {
    width: calc( 33% - 30px );
  }
}