$greyblur: #e6e6facc;
$pinkblur: #ffc0c099;
$violet: #ee82ee;
$pink: #ffc0cb;
$lavender: #e6e6fa;
$magenta: #ff00ff;
$gold: #ffd700;

body {
  background-image: url("./images/PonyvilleBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.login {
  background-color: $greyblur;
  border: solid 5px $violet;
  color: $magenta;
  text-align: center;
  font-size: 1.2em;
}

.nameInput {
  text-align: center;
  color: $magenta;
  background-color: $pinkblur;
  font-weight: 700;
}

.loginBtn {
  background-color: $pink;
  border: solid 2px $violet;
  font-size: 0.8em;
  border-radius: 50%;
  width: 25%;
  color: darken( $violet, 20% );
}

.textboard {
  background-color: $pinkblur;
  border: solid 5px $violet;
  color: darken( $magenta, 30% );
  width: 100%;
  min-height: 150px;
  overflow: auto;
}

.gameArea {
  width: 100%;
}

.cutieMark {
  border-radius: 25%;
  border: solid 3px $magenta;
  width: 100%;
}

.hovereffect {
  position: relative;
  cursor: default;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.hovereffect:hover img {
  -ms-transform: scale( 1.1 );
  -webkit-transform: scale( 1.1 );
  transform: scale( 1.1 );
  border: solid 3px $gold;
}

.gameOver {
  width: 100%;
  background: $greyblur;
  border: solid 5px darken( $violet, 20% );
}

.gameOverBtn {
  width: 100%;
  border: solid 3px $violet;
  background: $pinkblur;
  color: darken( $magenta, 30% );
  &:hover {
    border: solid 3px darken( $violet, 20% );
    background-color: $greyblur; 
  }
}

.heading {
  float: left;
  width: 75%;
}

.data {
  float: left;
  width: 25%;
  text-align: right;
}

.ponyArea {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.ponyContainer {
  width: 100%;
  float: left;
  overflow: auto;
}

.myLittlePony {
  border-radius: 10%;
  border: solid 3px $gold;
  width: 100%;
}

.hidden {
  filter: grayscale( 100% );
  opacity: 0.1;
}

.found {
  filter: grayscale( 0% );
  opacity: 1;
}

.modalHeader, .modalBody, .modalFooter {
  background-color: $pinkblur;
  border: solid 2px $violet;
  color: darken( $violet, 20% );
}

.modalImg {
  width: 100%;
}

.modalBtn {
  background-color: $violet;
  border: solid 1px $violet;
  &:hover {
    background-color: $magenta;
    border: solid 1px $violet;
  }
}